html, body{
    background-color: #21232A;
    color: #fff;
    font-family: Helvetica, Courier, monospace;
    font-size: 1.3rem;
    padding: 70px;
}

button{
    padding: 10px;
    margin-right: 10px;
    font-size: 1.3rem;
    cursor: pointer;
}